#mapid {
    position: relative;
    height: 600px;
    z-index: 0;
}

#tooltip {
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    opacity: 0;
    border-radius: 10px;
    z-index: 3;
}

.selected {
    fill: rgb(27, 87, 125);
    opacity: 0.8;

}

.unselected {
    fill: rgb(45, 121, 169);
    opacity: 0.4;
}