#mapid {
    position: relative;
    height: 600px;
    z-index: 0;
}

#tooltip {
    position: absolute;
    background-color: #ffffff;
    padding: 20px;
    border: solid 1px black;
    opacity: 0;
}

.selected {
    fill: red;
    opacity: 0.5;

}

.unselected {
    fill: green;
    opacity: 0.5;
}